.editButton{
    display: flex;
    margin-top: 50px;

}
.organisationcard{
    /* height: 600px; */
    /* padding: 100px; */
    padding-left: 150px;
}
.img{
 margin-left: 150px;
   /* margin-top: ; */
   display: flex;
   flex-direction: column; 
   justify-content: space-between;
}
.org{
    margin-top: 0px;
}
.buttonShowOrg{
    /* padding: 10px;
    margin-left: 170px; */
    /* padding-left: 50px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* flex-direction: column;  */
}
.passwordcard{
    /* height: 50%; */
    padding: 100px;
}
/* .org{
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
    /* margin-left: 600px; */
    /* align-items:ev; */
    /* justify-self: ; */
    /* flex-direction: spa; */

    /* margin-bottom: 50px;
    margin-left: 40px; */
/* } */ 
/* .image{
    display: flex;
    flex-direction: column;
} */