.employee{
    padding: 40px;
}
.tableEmployee{
    margin-top: 50px;
    padding: 20px;
    }
 .employeebutton{
        margin-top: 20px;
        margin-left: 200px;
    }
    /* .search-container{
        style={{float:"right"}}
    } */