@media print {        
    .no-print {
      display: none;

    }
    .sidebar{
      visibility: hidden;
    }
    .error{
      display: none;
    }

  }

  .total{
   margin-left: 500px;
  }
  .headerone{
    color: rgb(11, 10, 11);
 display: flex;
 align-items: center;
 justify-content: center;
  }
  .headertwo{
    margin-left: 500px;
  }
  .invoice-card{
    padding: 20px;
  }
  @media print {        
  .input {
    border: none;
  }}

  .input{
    font-style: bold;
  }
  .headerthree{

   margin-left: 300px;
   /* margin-bottom: 10px; */
   /* float: inline-end;
   position: relative; */

  }
  .headerfour{

   margin-left: 150px;
   /* margin-bottom: 10px; */
   /* float: inline-end;
   position: relative; */

  }
  .buttonOne{
    margin-top: 30px;
  }
  .footer{
    margin-top: 20px;
  }
  /* .form-control {
    display: inline-block;
    margin: 10px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
  } */

  /* @media print {  
  .no-border {
    border: none;
  }} */
  /* //used @media print so that only at the time of printing that data will be hidden */
  