@media print {        
  .no-print {
    display: none;
  }
  
  .sidebar {
    visibility: hidden;
  }
  
  .error {
    display: none;
  }
  
  .input {
    border: none;
  }
}

.total {
  margin-left: 10px;
}

.headerone {
  color: rgb(11, 10, 11);
  display: flex;
  align-items: center;
  justify-content: center;
}

.headertwo {
  margin-left: 10px;
}

.invoice-card {
  padding: 10px;
}

.input {
  font-weight: bold;
}

.headerthree {
  margin-left: 10px;
}

.headerfour {
  margin-left: 10px;
}

.buttonOne {
  margin-top: 10px;
}

.footer {
  margin-top: 10px;
}

/* Media Queries */

@media screen and (max-width: 768px) {
  .total,
  .headertwo,
  .headerthree,
  .headerfour {
    margin-left: 10px;
  }
  
  .headerone {
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  
  .buttonOne {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
  }
}

  /* .form-control {
    display: inline-block;
    margin: 10px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
  } */

  /* @media print {  
  .no-border {
    border: none;
  }} */
  /* //used @media print so that only at the time of printing that data will be hidden */
  