@media print {
    *,
    *::before,
    *::after {
        margin-top: 0px;
      /* background: transparent !important;
      border: none !important;
      box-shadow: none !important;
      color: black !important;
      font-family: inherit !important;
      font-size: inherit !important;
      font-weight: inherit !important;
      line-height: inherit !important;
      margin: 0 !important;
      padding: 0 !important;
      position: static !important;
      text-align: left !important; */
    }
  }
  