/* Sidebar styles */
.sidebar {
    /* width: 250px; */
    height: 100%;
    background-color: #f1f1f1;
    position: fixed;
    top: 0;
    left: 0;
  }
  
 /* Main content styles */ 
 .main-content {
    margin-left: 255px;
  } 
  /* .datatable{
    margin-top: 250px;
  }
   */
   .buttonOne{
    margin-left: 900px;
   }
   .Nav{
    margin-left: 900px;
   }
.datatable{
    margin-top: 50px;
}
@media print {   
.main-content{
  margin-left: 0px;
}}

.image{
  margin-top: 9px;
}