.box {
    position: relative;
    width: 380px;
    height: 420px;
    background: rgb(60, 6, 6);
    border-radius: 8px;
    overflow: hidden;
}
.form {
    position: absolute;
    z-index: 2;
    display: flex;
    flex-direction: column;
    inset: 2.5px;
    background: rgb(47, 26, 18);
    padding: 50px 40px;
    border-radius: 8px;
}