 @import url('https://fonts.googleapis.com/css?family=Open+Sans:600|Work+Sans:400,500,600,700&display=swap');

body{
  /* background: rgb(104, 34, 195); */
  /* background: url("https://images.unsplash.com/photo-1478760329108-5c3ed9d495a0?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80"); */
  background-color: #f1efef;
  font-family: "work sans";
}  

.loginform{ 
   /* max-width: 100px;
  min-width: 300px;  */
  display: flex;
  flex-direction: column;
  justify-content: right;
  align-items:center;
   max-height: 700px; 
   width: 50%;
  height: 120%;
  margin-left: 350px;
  margin-top: 30px;
  /* margin: 100px ; */
  background:linear-gradient(135deg, rgb(236, 240, 242) 0%,     rgb(239, 241, 241) 100%);
  border-radius: 25px;
  border: 2px solid rgb(13, 13, 13); 

} 

.register{ 
  /* max-width: 100px;
 min-width: 300px;  */
 display: flex;
  flex-direction:column;
 /* justify-content: space-around; */
 align-items:center;
  max-height: 800px; 
  width: 70%;
 height: 110%;
 /* padding: 100px; */
margin-left: 300px; 

background:linear-gradient(135deg, rgb(236, 240, 242) 0%,     rgb(239, 241, 241) 100%);
 border-radius: 50px;
 border: 2px solid rgb(13, 13, 13); 

} 

.headerTitle{
  text-align: center;
  color: rgb(12, 11, 10);
  font-family: 'open sans', sans-serif;
  padding: 2rem 0;
  margin: 0;
  font-size: 4rem;
}

/* .row{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
  max-width: 100%;
  
} */

/* .row input{
  width: 80%;
  box-sizing: border-box;
	border: none;
  font-size: 1.3rem;
  padding-left: 1.5rem;
  padding-bottom: 1rem;
  box-shadow: inset 0px -3px 0px 0px rgba(187,187,187,0.2);
  transition: box-shadow 0.2s ease-in;
} */

/* .row input:focus{
   box-shadow: inset 0px -3px 0px 0px rgba(34,193,195,0.7);
   outline: none;
} */

/* .row input::-webkit-input-placeholder{
  opacity: 1;
  transition: opacity 0.25s ease-out;
}

.row input:hover::-webkit-input-placeholder,
.row input:focus::-webkit-input-placeholder{
  opacity: 0;
} */
/* 
.row label{
  align-self: start;
  padding-left: 4.5rem;
  padding-bottom: 0.5rem;
  color: rgba(187,187,187,0.9);
}

.row button{
  border-radius: 25px;
  width: 80%;
  height: 40px;
  font-size: 1.3rem;
  color: white;
  font-weight: 700;
  background: rgb(34,193,195);
  background: linear-gradient(90deg, rgba(34,193,195,1) 0%,     rgba(253,187,45,1) 100%);
  border: 0px;
  cursor: pointer;
  transition: opacity 0.25s ease-out;
} */
.button{
  display: flex;
  justify-content: center;
  /* padding-bottom: 1.5rem; */
  /* padding: 2rem 0;
  margin: 0; */
} 
/* 
/* .row button:hover{
  opacity: 0.8;
}



 */ 
 /* MyForm.css */

/* .mb-3 label {
  color: aqua;
}

.mb-3 input[type="email"],
.mb-3 input[type="password"] {
  background-color: #592929;
  color: #fff;
  border: none;
  border-radius: 0;
  border-bottom: 2px solid aqua;
  padding: 10px;
  font-size: 16px;
  margin-bottom: 20px;
}

.mb-3 input[type="email"]:focus,
.mb-3 input[type="password"]:focus {
  box-shadow: none;
  border-bottom: 2px solid red;
}

.error {
  margin-top: 5px;
  font-size: 14px;
} */

/* MyForm.css */

.mb-3 label {
  color: #fff;
  font-size: 18px;
  font-weight: bold;
}

/* .mb-3 input[type="email"],
.mb-3 input[type="password"] {
  background-color: #a4d0eb;
  color: #fff;
  border: none;
  border-radius: 0;
  border-bottom: 2px solid #fff;
  /* padding: 10px; */
  /* font-size: 16px;
 margin-left: 0px;
 margin-right: 0px;
} */ 

.mb-3 input[type="email"]:focus,
.mb-3 input[type="password"]:focus {
  box-shadow:rgb(162, 207, 15);
  border-bottom: 4px solid rgb(142, 177, 25);
  margin-left: 0%;
}

.error {
  margin-top: 5px;
  font-size: 14px;
  color: #ff0000;
}

/* .btn-outline-primary {
  background-color: aqua;
  border-color: rgb(183, 50, 27);
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  padding: 70px 20px;
  display: flex;
  justify-content: center;
} */

.btn-outline-primary:hover {
  background-color: #fff;
  color: aqua;
}

p {
  color: #fff;
  font-size: 16px;
  margin-top: 20px;
}
