 @import url('https://fonts.googleapis.com/css?family=Open+Sans:600|Work+Sans:400,500,600,700&display=swap');

body{
 
  background-color: #f1efef;
  font-family: "work sans";
}  
.forget{
  display: flex;
  justify-content: center;
}



.headerTitle{

  text-align: center;
  color: rgb(12, 11, 10);
  font-family: 'open sans', sans-serif;
  /* padding: 2rem 0; */
  margin: 0;
  font-size: 4rem;
}
.containerlogin{

  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 10px 10px 10px 10px rgba(1, 0, 0, 0.5);
  width: fit-content;
  /* height: 470px; */
  max-height: 500px;
  margin-top: 50px;
  max-width: 100px;

}


.button{
  display: flex;
  justify-content: center;

} 


.mb-3 label {
  color: #fff;
  font-size: 18px;
  font-weight: bold;
}



.mb-3 input[type="email"]:focus,
.mb-3 input[type="password"]:focus {
  box-shadow:rgb(162, 207, 15);
  border-bottom: 4px solid rgb(142, 177, 25);
  margin-left: 0%;
}

.error {
  margin-top: 5px;
  font-size: 14px;
  color: #ff0000;
}



.btn-outline-primary:hover {
  background-color: #fff;
  color: aqua;
}

p {
  color: #fff;
  font-size: 16px;
  margin-top: 20px;
}
