.my-container {
  border: 1px solid #ccc;
  padding: 0px;
  border-radius: 10px;
  box-shadow: 10px 10px 10px 10px rgba(1, 0, 0, 0.5);
  width: 200px;
  height: 600px;
  margin-top: 20px;
}
.headerRegister{
  text-align: center;
  color: rgb(12, 11, 10);
  font-family: 'open sans', sans-serif;
  /* padding: 2rem 0; */
  margin: 0;
  font-size: 4rem;
}
.button{
  margin-left: 220px;
}
 /* .register{  */
 /* max-width: 100px;
 min-width: 300px;  
display: flex;
  flex-direction:column; 
justify-content: space-around; 
 align-items:center;
  max-height: 800px; 
 width: 100%; 
 height: 105%; 
 /* margin-left: 50px;  */
 /* margin-top: 5px; */
 /* background:linear-gradient(135deg, rgb(236, 240, 242) 0%,     rgb(239, 241, 241) 100%);
 border-radius: 50px;
 border: 2px solid rgb(13, 13, 13);  */
 
 /* padding: 5px;   */
/* }   */